{% extends 'base_app/base.html' %}

{% block content %}

<style>

.small-form-layout{

    background-color: #546de5;

    width: 400px;

    border-radius: 20px;

}

</style>

<div class="question-container">
    {% if request.user.is_authenticated and submitted_answer%}

        <div class="bg-white shadow-md p-3 small-form-layout text-center">

            <h6>Your last score was:</h6>

            <h3 class="text-success p-2" style="border: 2px solid #546de5; border-radius: 10px;">{{submitted_answer.number_of_correct_answers}}</h3>
        
        </div>

        <br>

    {% endif %}

    <form action="" method="POST">

    {% for question in questions %}

    {% csrf_token %}

    <div class="question-card">
        
        <div class="question-body">

            <p><strong>{{forloop.counter}}. {{question.title}}</strong></p>

            {% for option in options %}

                {% if option.question == question %}

                    <div class="form-check">

                    <input class="form-check-input" type="radio" name="flexRadioDefault-{{option.question.id}}" id="flexRadioDefault-{{option.question.id}}" value="{{option.title}}" required>
                    
                    <label class="form-check-label" for="flexRadioDefault-{{option.question.id}}">
                    
                        <p>{{option.title}}</p>
                    
                    </label>

                    </div>
                
                {% endif %}

            {% endfor %}

        </div>

    </div>

    <br>

    {% endfor %}

    <input type="submit" value="Submit" class="btn btn-warning">

</form>

</div>

<br> <br> <br> <br> <br> <br>

{% endblock %}